application.log
kge/data/*
.DS_Store*
.idea
dp-cache
scripts/__pycache__
.Rhistory
rsconnect
testing.py
scripts/kge
scripts/epigraphdb_data/*/raw*.csv
scripts/custom_graph_datasets/Cardio_GWAS/iterative_knockouts/exps/*/2021*
scripts/custom_graph_datasets/Cardio_GWAS/threshold_vs_MRR/experiments/*
scripts/custom_graph_datasets/mreve_sampling/*/.snakemake/*
scripts/custom_graph_datasets/mreve_sampling/*/libkge_exp_files/experiment/*
scripts/custom_graph_datasets/mreve_sampling/raw_data/mr-eve-mr/mr-eve-edgelist.csv
results/gridsearch1/figures*/*
.Rproj.user
